In [7]:
import requests
import pandas as pd
import time

API_KEY = "f8e3284a3d0d0b081393486e295ba704"
titles = []
years = []
ratings = []
release_dates = []
vote_counts = []
popularity = []
original_language = []
overview = []

unique_movies = set()

for page_num in range(1, 30):  # Pages 1-23
    url = f"https://api.themoviedb.org/3/movie/top_rated?api_key={API_KEY}&page={page_num}&language=en-US"
    
    try:
        response = requests.get(url)
        
        if response.status_code != 200:
            print(f"  Error: Status code {response.status_code}")
            break
        
        data = response.json()
        movies = data.get('results', [])
        
        if not movies:
           
            break
     
        for movie in movies:
            title = movie.get('title', 'N/A')
            release_date = movie.get('release_date', 'N/A')
            year = release_date.split('-')[0] if release_date and release_date != 'N/A' else 'N/A'
            rating = movie.get('vote_average', 'N/A')
            vote_count = movie.get('vote_count', 'N/A')
            popularity_score = movie.get('popularity', 'N/A')
            language = movie.get('original_language', 'N/A')
            movie_overview = movie.get('overview', 'N/A')
            
            unique_id = (title, year)
            if unique_id not in unique_movies:
                titles.append(title)
                years.append(year)
                ratings.append(rating)
                release_dates.append(release_date)
                vote_counts.append(vote_count)
                popularity.append(popularity_score)
                original_language.append(language)
                overview.append(movie_overview)
                
                unique_movies.add(unique_id)
 
        if len(titles) >= 600:
            break
        
        time.sleep(0.3) 
    
    except Exception as e:
        print(f"  Error fetching page {page_num}: {e}")
        continue

df = pd.DataFrame({
    "title": titles,
    "year": years,
    "rating": ratings,
    "vote_count": vote_counts,
    "release_date": release_dates,
    "popularity": popularity,
    "language": original_language,
    "overview": overview
})
df

,title,year,rating,vote_count,release_date,popularity,language,overview
0,The Shawshank Redemption,1994,8.711,29147,1994-09-23,26.8010,en,Imprisoned in the 1940s for the double murder ...
1,The Godfather,1972,8.686,22016,1972-03-14,22.4793,en,"Spanning the years 1945 to 1955, a chronicle o..."
2,The Godfather Part II,1974,8.600,13303,1974-12-20,11.5772,en,In the continuing saga of the Corleone crime f...
3,Schindler's List,1993,8.566,16831,1993-12-15,12.2608,en,The true story of how businessman Oskar Schind...
4,12 Angry Men,1957,8.548,9498,1957-04-10,8.5545,en,The defense and the prosecution have rested an...
...,...,...,...,...,...,...,...,...
575,"Love, Rosie",2014,7.815,6383,2014-10-16,4.5766,en,"Since the moment they met at age 5, Rosie and ..."
576,Pirates of the Caribbean: The Curse of the Bla...,2003,7.815,21565,2003-07-09,22.3921,en,After Port Royal is attacked and pillaged by a...
577,Tod@s Caen,2019,7.800,479,2019-08-30,1.3306,es,A pair of seducers try to prove who has the be...
578,Charm City Kings,2020,7.814,489,2020-01-27,2.2769,en,Mouse desperately wants to join The Midnight C...
579,Network,1976,7.814,1895,1976-11-19,4.0068,en,When veteran anchorman Howard Beale is forced ...

In [8]:
df.to_csv('top_rated_movies.csv', index=False, encoding='utf-8')